- var parseDate = function(date) { return [date.getFullYear(), ('0' + (date.getMonth() + 1)).slice(-2), ('0' + date.getDate()).slice(-2)].join('.') }

mixin themes_scroll(themes)
	.item_themes
		.themes_outer
			.themes_inner
				each theme, i in themes
					a.theme(href='/lectures/' + theme.sym)
						.theme_numb: .numb_inner= i+1
						.theme_title= theme.title


mixin bookItem(pref, name, post, book_id)
	a.book_item(href='http://urss.ru/cgi-bin/db.pl?lang=Ru&blang=ru&page=Book&id=' + book_id, target='_blank', rel='nofollow')
		if pref
			span.book_pref= pref
		span.book_name= name
		if post
			span.book_post= post


mixin contentItem(num, study)
	.content_item_block(class=attributes.type, class=attributes.categorys)
		a.item_body(href=attributes.href)
			.item_title_block
				if num
					.item_num= num
				.item_title= study.title
			.item_description!= study.description
		.item_links
			if study.video
				.link.video(video_id=study.video)
			each file in study.files
				.link.pdf(file_path=file.path)
					if file.desc != ''
						.tooltip= file.desc
		.item_counters
			.social-likes.social-likes_horizontal.social-likes_light(data-url='http://' + host + attributes.href, data-title=study.title)
				.facebook(title='Поделиться ссылкой на Фейсбуке') Facebook
				.vkontakte(title='Поделиться ссылкой во Вконтакте') Вконтакте


mixin contentStudy(study)
	.study_block
		h1.study_title= study.title
		.study_description!= study.description
		if (!study.video && study.description_alt)
			.study_description_alt!= study.description_alt
		.study_body(class=study.video && 'video')
			.study_links
				each file in study.files
					.link.pdf(file_path=file.path)
						if file.desc != ''
							.tooltip= file.desc
			.study_counters
				.social-likes.social-likes_light(class=study.video ? 'social-likes_vertical' : 'social-likes_horizontal' , data-title=study.title)
					.facebook(title='Поделиться ссылкой на Фейсбуке') Facebook
					.vkontakte(title='Поделиться ссылкой во Вконтакте') Вконтакте
			if study.video
				iframe(width='720', height='400', src='https://www.youtube.com/embed/' + study.video, frameborder='0', allowfullscreen='')
		if (study.video && study.description_alt)
			.study_description_alt!= study.description_alt