- var parseDate = function(date) { return [date.getFullYear(), ('0' + (date.getMonth() + 1)).slice(-2), ('0' + date.getDate()).slice(-2)].join('.') }

mixin themes_scroll(themes)
	.item_themes
		.themes_outer
			.themes_inner
				if attributes.menu
					a.theme.home(href='/')
						.theme_numb
						.theme_title главная
				each theme, i in themes
					a.theme(href='/lectures/' + theme.sym)
						.theme_numb: .numb_inner= i+1
						.theme_title= theme.title
				a.theme.other(href='/other')
					.theme_numb
					.theme_title разное


mixin bookItem(pref, name, post, book_id)
	a.book_item(href='http://urss.ru/cgi-bin/db.pl?lang=Ru&blang=ru&page=Book&id=' + book_id, target='_blank', rel='nofollow')
		if pref
			span.book_pref= pref
		span.book_name= name
		if post
			span.book_post= post


mixin contentItem(num, study)
	.content_item_block(class=attributes.type, class=attributes.categorys)
		a.item_body(href=attributes.href)
			.item_title= num ? (num + ' — ' + study.title) : study.title
			.item_description!= study.description
		.item_links
			if study.video
				.link.video(video_id=study.video)
			each file in study.files
				.link.pdf(file_path=file.path)
					if file.desc != ''
						.tooltip= file.desc
		.item_counters
			.social-likes.social-likes_horizontal(data-counters='no', data-url='http://' + host + attributes.href, data-title=study.title)
				.facebook(title='Поделиться ссылкой на Фейсбуке') Facebook
				.vkontakte(title='Поделиться ссылкой во Вконтакте') ВКонтакте


mixin metaStudy()
	.study_meta
		.study_links
			each file in study.files
				.link.pdf(file_path=file.path)
					if file.desc != ''
						.tooltip= file.desc
		.study_counters
			.social-likes.social-likes_horizontal(data-counters='no', data-title=study.title)
				.facebook(title='Поделиться ссылкой на Фейсбуке') Facebook
				.vkontakte(title='Поделиться ссылкой во Вконтакте') Вконтакте

mixin contentStudy(study)
	if study.video
		.study_video: .video_inner
			iframe.video(width='100%', height='512px', src='https://www.youtube.com/embed/' + study.video, frameborder='0', allowfullscreen='')
	.study_block
		if study.video && study.files.length > 0
			+metaStudy()
		h1.study_title= study.title
		.study_description!= study.description
		.study_description!= study.description_alt
		if !study.video || study.files.length == 0
			+metaStudy()