- var version = '?ver=1'
meta(charset="utf-8")
link(href='/images/design/favicon.png', rel='shortcut icon', type='image/vnd.microsoft.icon')
block title
	meta(property='og:type', content=content_video_youtube ? 'video' : 'website')
	if content_title
		title= content_title
		meta(property='og:title', content=content_title)
	if content_description
		meta(name='description', content=content_description)
		meta(property='og:description', content=content_description)
	if content_video_youtube
		meta(property='og:image:secure_url', content='https://img.youtube.com')
		meta(property='og:video:secure_url', content='https://www.youtube.com/v/' + content_video_youtube)
		meta(property='og:video:type', content='application/x-shockwave-flash')
		meta(property='og:video:width', content='300')
		meta(property='og:video:height', content='200')
	each image in content_images || []
		meta(property='og:image' content='http://' + host + '/' + image)
link(rel='stylesheet', type='text/css', href='/build/libs/css/social-likes_birman.css' + version)
link(rel='stylesheet', type='text/css', href='/build/libs/css/fonts.css' + version)
link(rel='stylesheet', type='text/css', href='/build/css/global.css' + version)
link(rel='stylesheet', type='text/css', href='/build/css/blocks_grid.css' + version)
block content_style
	- var version = '?ver=1'
script(type='text/javascript', src='/build/libs/js/jquery-2.1.4.min.js' + version)
script(type='text/javascript', src='/build/libs/js/social-likes.min.js' + version)
script(type='text/javascript', src='/build/js/global.js' + version)
block content_scripts
	- var version = '?ver=1'