extends ../../../layout
include ../../forms.jade

block title
	title РЕДАКТИРОВАТЬ ПОДТЕМУ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/css/add.js')

block content
	.form_block
		a.back_link(href='/auth/themes') < Назад
		.title РЕДАКТИРОВАТЬ ПОДТЕМУ
		form(action="", method="post")
			.form_title Заголовок:
			input.form_text(type='text', name='title', value=theme.title)
			.form_title Описание:
			textarea.form_text(name='description')= theme.description
			.form_title Псевдоним:
			input(type='text', name='overlay', placeholder='необязательно', value=theme.overlay)
			.form_title Порядок:
			select(name='order')
				each option, i in parent_theme.sub
					option(value=i, selected=option == theme._id.toString())= i
			br
			br
			input(type='submit', value='отправить')