extends ../../../layout
include ../../forms.jade

block title
	title РЕДАКТИРОВАТЬ ПОДТЕМУ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/css/add.js')

block content
	.form_block
		a.back_link(href='/auth/themes') < Назад
		.title РЕДАКТИРОВАТЬ ПОДТЕМУ
		form(action="", method="post")
			.form_title Заголовок:
			input.form_text(type='text', name='title', value=theme.title)
			.form_title Нумерация:
			input(type='checkbox', name='overlay[on]', value='true', checked=theme.overlay.on)
			!= ' выкл. -->'
			input(type='text', name='overlay[desc]', placeholder='псевдоним', value=theme.overlay.desc)
			.form_title Порядок:
			select(name='order')
				each option, i in parent_theme.sub
					option(value=i, selected=option == theme._id.toString())= i
			br
			br
			input(type='submit', value='отправить')